@use "../../styles/variables" as *;

.herobanner {
  height: 100dvh;
  padding-top: 100px;
  margin-bottom: 7.5em;

  .herobannerDisplay {
    display: flex;
    flex-direction: row;

    .herobannerText {
      font-family: $font-title;
      font-size: 3.5rem;
      margin: 0;
      height: 100%;
      padding-top: 15%;

      .herobannerParagraph1 {
        color: $text-color-light-blue;
      }

      .herobannerParagraph2 {
        color: $text-color-dark-blue;
      }

      .downloads {
        display: flex;

        .button {
          border: none;
          border-radius: 12px;
          margin: 0.5em;
          padding: 18px 23px;
          background-color: black;

          img {
            height: auto;
            width: 150px;
          }
          &:hover {
            background-color: $background-color-button-hover;
          }
        }
      }
    }

    .herobannerImages {
      text-align: center;
      align-self: center;
      font-family: $font-title;
      font-size: 10rem;

      width: 80%;
    }
  }
}
