@use "../../styles/variables" as *;

.navbar {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: $background-color-navbar;
  width: 100%;
  padding: 0.5em 1em;
  color: $text-color-light;
  align-items: center;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  .navbarLink {
    color: $text-color-light;
    text-decoration: none;
  }

  .navbarLinkList {
    color: $text-color-light;
    text-decoration: none;

    &:hover {
      color: $text-color-dark;
      transition-duration: 0.4s;
    }
  }

  .navbarTitle {
    font-family: $font-bar-title;
    font-size: $font-size-title-navbar;
    margin: 0;
  }

  .navbarList {
    list-style: none;
    display: flex;
    align-items: center;
    font-family: $font-title;
    font-size: $font-size-text-navbar;

    .navbarListElement {
      margin: 0 0.5em;
    }
  }

  .navbarButton {
    font-family: $font-text;
    font-size: $font-size-button-navbar;
    font-weight: bold;
    color: $text-color-light-blue;
    padding: 15px 24px;
    border: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    margin-left: auto;

    &:hover {
      color: $text-color-light;
      background-color: $background-color-button-hover;
      box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

//RESPONSIVE
@media (max-width: 1000px) {
  .navbar {
    .navbarTitle {
      font-size: $font-size-title-navbar-1000px;
    }

    .navbarList {
      font-size: 1.5rem;
    }

    .navbarButton {
      font-size: 1rem;
    }
  }
}

@media (max-width: 800px) {
  .navbar {
    .navbarTitle {
      font-size: $font-size-title-navbar-800px;
    }

    .navbarList {
      font-size: 1.5rem;
    }

    .navbarButton {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 650px) {
  .navbar {
    .navbarList {
      font-size: 1.2rem;
    }

    .navbarButton {
      font-size: 0.6rem;
      padding: 10px 18px;
    }
  }
}
