@use "./styles/variables" as *;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  scroll-padding-top: 80px;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding: 2em;
  padding-bottom: calc(2em + 580px);
  background-color: $background-color-main;
  flex: 1 0 auto;
  overflow: hidden;
}

main {
  padding: 2em;
  background-color: $background-color-main;
  flex: 1;
}
