@use "../../styles/variables" as *;

.intro {
  position: relative;
  color: $text-color-light;
  font-family: $font-text;
  font-size: $font-size-text-main;
  width: 70%;
  margin: 10em 0 5em 0;
}

//RESPONSIVE
@media (max-width: 800px) {
  .intro {
    font-size: $font-size-text-main-8OOpx;
  }
}

@media (max-width: 650px) {
  .intro {
    font-size: $font-size-text-main-65Opx;
  }
}
