@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Droid+Sans:wght@400;700&display=swap");

//FONT
$font-bar-title: "Gajraj One", sans-serif;
$font-title: "Bebas Neue", sans-serif;
$font-text: "Droid Sans", sans-serif;

//TEXT-COLOR
$text-color-light: #ffffff;
$text-color-shade: #edeff3;
$text-color-dark: #d9d9d9;
$text-color-light-blue: #81b1fa;
$text-color-dark-blue: #5994ed;

//BACKGROUNG-COLOR
$background-color-navbar: #5994ed;
$background-color-main: #d9d9d9;
$background-color-main-argument: #ffffff;
$background-color-main-quote: #81b1fa;
$background-color-footer: #2e3035;

$background-color-button-hover: #4a7fce;

//FONT-SIZE
$font-size-title-navbar: 2.5rem;
$font-size-text-navbar: 1.5rem;
$font-size-button-navbar: 1rem;

$font-size-title-navbar-1000px: 2rem;
$font-size-text-navbar-1000px: 1.2rem;
$font-size-button-navbar-1000px: 0.5rem;

$font-size-title-navbar-800px: 1.5rem;
$font-size-text-navbar-650px: 1rem;

$font-size-title-main: 3rem;
$font-size-text-main: 2rem;
